extends layout

block content
    h1= title

    each user in JSON.parse(users)
        if(user.id !== user_id)
            div
                .uk-card.uk-card-hover.uk-card-body
                    form(action='/set_owner', method='post')
                        input(type='hidden', name='owner_id', value=user.id)
                        h3.uk-card-title= user.name

                        h5 Подчиненные
                        each us in JSON.parse(users)
                            if(us.id !== user.id)
                                if(us.role !== 1)
                                    .uk-margin
                                        .uk-inline
                                            label
                                                input.uk-checkbox(type='checkbox', name='res_id', value=us.id)
                                                label= us.name
                        .uk-margin
                            .uk-inline
                                input.uk-button.uk-button-default(type='submit', value='Изменить')




